goa-1.0
balena-etcher
dconf
evolution
fontconfig
GIMP
glib-2.0
goa-1.0
gtk-2.0
gtk-3.0
hydroxide
Kvantum
libfm
libreoffice
light
logs
manuskript
micro
mimeapps.list
mpv
nemo
neofetch
obs-studio
rio
omf
pavucontrol.ini
pcmanfm
pipe-viewer
pulse
qBittorrent
qt5ct
QtProject.conf
Simplenote
thorium
user-dirs.dirs
user-dirs.locale
xarchiver
vivaldi
